.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.topbarWrapper {
    flex-shrink: 0;
}

.mainContent {
    display: flex;
    flex: 1;
    overflow: hidden;

    position: relative;
}

.sidebar {
    width: 300px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.canvasArea {
    display: flex;
    justify-content: center;

    flex: 1;
    height: 100%;
    overflow: auto;

    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
}