.container {
    width: 100%;
    height: 100%;

    background-color: white;
}

/* .container_desktop {
    width: 100%;
    height: 100%;

    background-color: white;
}

.container_mobile {
    width: 375px;
    height: 100%;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.container_tablet {
    width: 768px;
    height: 100%;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
} */


.wrapper {
    border: red 1px solid;
}