.pattern_content_container {
    width: 300px;
    height: 100vh;
    background-color: white;
}

.pattern_content_container button {
    cursor: pointer;
}


/* search bar */

.search_bar {
    display: flex;

    width: 250px;
    height: 25px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    background-color: #F7F6F6;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.3);
}

.search_bar img {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.search_bar input {
    flex: 1;
    font-size: 14px;

    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
}

/* pattern items */
.pattern_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 48px;
}

.pattern_items button {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 14px;
}