.style_menu_container {
    height: 220px;
    width: 226px;

    background-color: white;

    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: rgba(0, 0, 0, 0.3) 1px solid;

    position: absolute;
    top: 70px;
    right: 5px;
    z-index: 1001;
}

.style_menu_container button {
    cursor: pointer;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 226px;
    height: 47px;


    border-bottom: rgba(0, 0, 0, 0.3) 1px solid;
}

.top span {
    margin-left: 15px;
    cursor: default;
}

.top button {
    padding: 5px;

    border: transparent 1px solid;
}

.top button:hover {
    border: #0693E3 1px solid
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom button {
    display: flex;
    align-items: center;

    height: 40px;
    width: 226px;

    margin-top: 13px;
}

.bottom button img {
    margin-left: 40px;
    margin-right: 10px;
}