/* Topbar.module.css - Scoped styles for Topbar component */
.topbar_container {
    background-color: white;
    display: flex;
    align-items: center;
}

.logo {
    height: 41px;
    width: 40px;
}

.logo_button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 64px;
    width: 64px;
    background-color: #292929;

}

.topbar_left {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 14px;
}

.topbar_right {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-right: 10px;
}

.topbar_container button {
    cursor: pointer;
}

.topbar_middle {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;
    width: 426px;
    background-color: #E7E7E7;
    margin: 0 auto;
}

.popup {
    border: rgba(0, 0, 0, 0.3) 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 36px;

    background-color: rgba(231, 231, 231, 0.5);
    border-radius: 5px;

    position: absolute;
    top: 43px;
    right: 100px;

    z-index: 999;
    cursor: default;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.popup .savebtn_progress_bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #0693E3;
    animation: shrink 3s linear forwards;
}

@keyframes shrink {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}