/* Topbar.module.css - Scoped styles for Topbar component */
.topbar_container {
    background-color: white;
    display: flex;
    align-items: center;
}

.logo {
    height: 41px;
    width: 40px;
}

.logo_button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 64px;
    width: 64px;
    background-color: #292929;

}

.topbar_left {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 14px;
}

.topbar_right {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-right: 10px;
}

.topbar_container button {
    cursor: pointer;
}

.topbar_middle {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;
    width: 426px;
    background-color: #E7E7E7;
    margin: 0 auto;
}